* {
    margin: 0;
    padding: 0
}

.seccion1, .seccion2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2vh 0;
}

section {
    background-color: rgb(38, 38, 38);

}