.formularioHeader {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 10px;
    background-color: rgb(18, 17, 17);
}

.buscador{
    border: 3px solid black;
    padding: 5px;
    margin: 3px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

button a {
    color: black;
}
